/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000001;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 46px;
  font-weight: 800;
}
/* utility */
.jumbo-container {
  width: 80%;
  margin: 0 auto;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.plan-container {
  padding: 30px;
}
.flex-container {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.btn {
  padding: 8px 20px;
  background-color: #2862ff;
  color: white;
}
/* utility */
/* general */
/* header */
header {
  height: 80px;
  /* padding: 20px 20px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
nav {
  /* width: 50%; */
}
.nav-right {
  justify-content: flex-end;
}
header > .nav-left > ul > li > a {
  margin-right: 30px;
}
header > .nav-right > ul > li > a {
  margin-left: 30px;
}

nav, nav > ul, nav > ul > li, nav > ul > li > a {
  height: 100%;
}


nav > ul {
  height: 100%;
}
nav > ul > li {
  list-style: none;
  height: 100%;
}
nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: #000001;
  font-size: 16px;
  height: 100%;
}
nav > ul > li > a:hover {
  text-decoration: underline;
  border-bottom: 2px solid black;
}
.img-logo {
  vertical-align: middle;
}
/* /header */
/* jumbotron */
.jumbotron {
  padding-top: 170px;
  /* height: 900px; */
  background-color: #b4d0e7;
}
.jumbotron > .jumbo-container > h1 {
  font-size: 68px;
  font-weight: 900;
  margin-bottom: 60px;
  line-height: 97px;
}
.jumbo-content.left {
  width: 40%;
}
.jumbo-content.left > div {
  flex-direction: column;
}
.jumbo-content.left > div > p {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 30px;
}
.jumbo-content.left > div > a {
  margin: 20px 0;
  text-decoration: none;
}
.jumbo-content.left > div > .arrow {
  font-size: 40px;
  margin-top: 40px;
}
.jumbo-content.right {
  width: 60%;
}
.jumbo-content.right > img {
  width: 100%;
}
/* /jumbotron */
/* plan-section */
.plan-section > h2 {
  padding-top: 200px;
  margin-bottom: 60px;
}
.radio-input {
  margin-bottom: 40px;
}
.radio-input > input {
  margin-right: 5px;
}
.radio-input > label {
  margin-right: 10px;
  font-size: 18px;
  line-height: 10px;
}
.plan {
  width: 30%;
  /* height: 800px; */
  border: 1px solid black;
}
.plan-name, .team-name {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.plan-type {
  flex-direction: column;
}
.plan-type h4 {
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 800;
}
.plan-type span {
  padding-top: 9px;
}
.plan-type > h4 + span {
  font-weight: 800;
}
.plan-type > span:last-child {
  color: #778591;
}
.plan-details > ul,
.punti-salienti > ul {
  margin-top: 40px;
}
.plan-details > ul > li,
.punti-salienti > ul > li {
  margin-bottom: 30px;
}
.detail-icon, .detail-point {
  justify-content: flex-end;
  margin-top: 3px;
  margin-right: 3px;
}
.btn.large-btn {
  width: 100%;
}
.plan-line {
  width: 20%;
  height: 2px;
  border-bottom: 1px solid #d0d0d3;
  margin-top: 30px;
  margin-bottom: 50px;
}
.plan-line + h4 {
  font-weight: 800;
  margin-bottom: -15px;
}
.plan-btn {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
/* team */
.team-box {
  width: 100%;
  border: 1px solid black;
  margin-top: 50px;
}
.team-text {
  width: 70%;
}
.team-text > span {
  display: block;
}
.team-text > span:first-child {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 22px;
}
.team-text > span:nth-child(2) {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 30px;
}
.team-text > span:last-child {
  margin-bottom: 6px;
}
.team-btn {
  width: 30%;
  text-align: center;
}
/* /team */
/* /plan-section */
/* partner-section */
.partner-section {
  background-color: cadetblue;
  padding: 110px 0;
}
.partner {
  width: 50%;
  height: 375px;
}
.partner.img {
  background-color: aquamarine;
}
.partner.text {
  background-color: aqua;
}
/* /partner-section */
/* dropbox-business-section */
.dropbox-business > h2 {
  margin-bottom: 50px;
}
.card-container {
  flex-wrap: wrap;
}
.card {
  width: 30%;
  min-width: 300px;
  height: 450px;
  background-color: aqua;
  border: 1px solid black;
  margin-bottom: 20px;
}
.dropbox-business .business {
  width: 55%;
  margin-bottom: 50px;
}
.dropbox-business > div > h2 {
  margin-top: 70px;
  margin-bottom: 20px;
}
/* /dropbox-business-section */
/* clienti */
.client {
  height: 460px;
  width: 100%;
  background-color: aliceblue;
}
.square-block {
  /* width: 20%; */
  background-color: antiquewhite;
  flex-wrap: wrap;
}
.client-text {
  /* width: 60%; */
  margin: 0 auto;
  overflow: auto;
}
.square {
  border: 1px solid black;
  width: 230px;
  height: 230px;
}
.free-trial {
  /* height: 500px; */
  width: 100%;
  background-color: beige;
  justify-content: center;
}
.trial-text {
  background-color: bisque;
}
.trial-btn {
  background-color: azure;
  justify-content: center;
  text-align: center;
}
.trial-text, .trial-btn {
  width: 40%;
  padding: 100px 0;

}
.btn-dbg {
  width: 230px;
  height: 50px;
  border: 1px solid black;
}
/* /clienti */
/* questions */
.questions h3 {
  font-size: 34px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.question.topbar{
  border-top: 1px solid black;
}
.question {
  padding: 30px 0;
  border-bottom: 1px solid black;
}
.questions > div {
  margin-bottom: 100px;
}
/* /questions */
/* footer */
footer {
  height: 500px;
  width: 100%;
  background-color: black;
}
/* footer */