/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000001;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 46px;
  font-weight: 800;
}
/* utility */
.jumbo-container {
  width: 80%;
  margin: 0 auto;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.plan-container {
  padding: 30px;
}
.flex-container {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.btn {
  padding: 8px 20px;
  background-color: #2862ff;
  color: white;
}
/* utility */
/* general */
/* header */
header {
  height: 80px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
}
.nav-right {
  justify-content: flex-end;
}
header > .nav-left > ul > li > a {
  margin-right: 30px;
}
header > .nav-right > ul > li > a {
  margin-left: 30px;
}
nav, nav > ul,
nav > ul > li,
nav > ul > li > a {
  height: 100%;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: #000001;
  font-size: 16px;
  height: 100%;
}
nav > ul > li > a:hover {
  border-bottom: 2px inset black;
}
.img-logo {
  vertical-align: middle;
}
/* /header */
/* jumbotron */
.jumbotron {
  padding-top: 170px;
  /* height: 900px; */
  background-color: #b4d0e7;
}
.jumbotron > .jumbo-container > h1 {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 60px;
  line-height: 97px;
}
.jumbo-content.left {
  width: 40%;
}
.jumbo-content.left > div {
  flex-direction: column;
}
.jumbo-content.left > div > p {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 30px;
}
.jumbo-content.left > div > a {
  margin: 20px 0;
  text-decoration: none;
}
.jumbo-content.left > div > .arrow {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 80px;
}
.jumbo-content.right {
  width: 60%;
  position: relative;
}
.jumbo-content.right > img {
  max-width: 900px;
  position: absolute;
}
/* /jumbotron */
/* plan-section */
.plan-section > h2 {
  padding-top: 250px;
  margin-bottom: 60px;
}
.radio-input {
  margin-bottom: 40px;
}
.radio-input > input {
  margin-right: 5px;
}
.radio-input > label {
  margin-right: 10px;
  font-size: 18px;
  line-height: 10px;
}
.plan {
  width: 30%;
  /* height: 800px; */
  border: 1px solid #dedee0;
}
.plan a {
  color: #2862ff;
}
.plan-name, .team-name {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dedee0;
}
.plan-type {
  flex-direction: column;
}
.plan-type h4 {
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 800;
}
.plan-type span {
  padding-top: 9px;
}
.plan-type > h4 + span {
  font-weight: 800;
}
.plan-type > span:last-child {
  color: #778591;
}
.plan-details > ul,
.punti-salienti > ul {
  margin-top: 40px;
}
.plan-details > ul > li,
.punti-salienti > ul > li {
  margin-bottom: 30px;
}
.detail-icon, .detail-point {
  justify-content: flex-end;
  margin-top: 3px;
  margin-right: 3px;
}
.detail-point > i {
  color: #2862ff;
}
.btn.large-btn {
  width: 100%;
}
.plan-line {
  width: 20%;
  height: 2px;
  border-bottom: 1px solid #d0d0d3;
  margin-top: 30px;
  margin-bottom: 50px;
}
.plan-line + h4 {
  font-weight: 800;
  margin-bottom: -15px;
}
.plan-btn {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
/* team */
.team-box {
  width: 100%;
  border: 1px solid #d0d0d3;
  margin-top: 50px;
}
.team-text {
  width: 70%;
}
.team-text > span {
  display: block;
}
.team-text > span:first-child {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 22px;
}
.team-text > span:nth-child(2) {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 30px;
}
.team-text > span:last-child {
  margin-bottom: 6px;
}
.team-btn {
  width: 30%;
  text-align: center;
}
/* /team */
/* /plan-section */
/* partner-section */
.partner-section {
  padding: 110px 0;
}
.img-partner {
  width: 50%;
}
.img-partner > img {
  width: 100%;
}
.text-partner {
  width: 50%;
  padding: 70px 0 0 50px;
}
.text-partner > h4 {
  font-size: 32px;
  margin-bottom: 20px;
}
.text-partner > p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}
.text-partner > button {
  font-size: 24px;
  padding: 10px;
  background: none;
}
/* /partner-section */
/* dropbox-business-section */
.dropbox-business > h2 {
  margin-bottom: 50px;
}
.card-container {
  flex-wrap: wrap;
}
.card {
  width: 30%;
  min-width: 300px;
  /* height: 450px; */
  /* background-color: aqua;
  border: 1px solid black; */
  margin-bottom: 100px;
}
.card > img {
  width: 100%;
}
.card > span {
  font-size: 25px;
  font-weight: 600;
}
.card > p {
  font-size: 17px;
  margin-top: 20px;
  line-height: 25px;
}
.dropbox-business .business {
  width: 55%;
  margin-bottom: 50px;
}
.dropbox-business > div > h2 {
  margin-top: 70px;
  margin-bottom: 20px;
}
.business > a {
  color: #2862ff;
}
/* /dropbox-business-section */
/* clienti */
.partners-dbg {
  width: 100%;
  /* max-height: 300px; */
  flex-wrap: wrap;
  /* margin-bottom: 300px; */
}
.cont {
  width: 30vw;
  display:flex;
  flex-wrap:wrap;
}
.square {
  width:15vw;
  height:15vw;
}
#active {
  border: 8px solid #d0e9cc ;
}
.square.green {
  background-color: #a2d39b;
}
.square.brown {
  background-color: #61082a;
}
.square.azure {
  background-color: #3193ce;
}
.square.red {
  background-color: #f41c1e;
}
.square.crims {
  background-color: #d5001f;
}
.square.gray {
  background-color: #b4d0e7;
}
.square.blue {
  background-color: #0d2481;
}
.square.yellow {
  background-color: #fbd831;
}
.square > img {
  width: 70%;
  line-height: 100px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(249deg) brightness(107%) contrast(109%);
}
.txt {
  width: 40vw;
  height: 30vw;
  overflow: auto;
  padding: 50px;
  background-color: #f5f5f5;
}
.txt > div > img {
  width: 35%;
  /* padding: 50px; */
}
.txt > div:nth-child(2) {
  width: 15%;
  height: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
/* free-trail */
.free-trial {
  width: 100%;
  background-color: #b4d0e7;
  justify-content: center;
}
.trial-btn {
  /* background-color: azure; */
  justify-content: center;
  text-align: center;
}
.trial-text {
  color: #61062a;
}
.trial-text, .trial-btn {
  width: 40%;
  padding: 100px 0;
}
.btn-dbg {
  height: 50px;
  padding: 15px 50px;
  border: 1px solid white;
  background-color: white;
} 
/* free-trail */
/* /clienti */
/* questions */
.questions h3 {
  font-size: 34px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.question.topbar{
  border-top: 1px solid black;
}
.question {
  padding: 30px 0;
  border-bottom: 1px solid black;
  font-weight: 600;
  padding-right: 20px;
}
.questions > div {
  margin-bottom: 100px;
}
.question > p {
  margin-top: 20px;
  display: none;
  font-weight: 400;
}
.question:hover .parag {
  display: block;
}
/* /questions */
/* footer */
footer {
  height: 500px;
  width: 100%;
  padding: 100px 140px;
  background-color: black;
  color: white;
  font-size: 14px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
footer > div:first-child {
  width: 100%;
  justify-content: space-around;
}
.footer-box > h5 {
  font-size: 24px;
  margin-bottom: 20px;
}
footer span {
  display: block;
  margin-bottom: 8px;
}
footer a {
  color: white;
  text-decoration: none;
}
.footer-line {
  width: 10%;
  height: 5px;
  border-bottom: 1px solid white;
  margin-left: 70px;
}
/* footer */