/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000001;
  font-family: 'Lato', sans-serif;
}
.jumbo-container {
  width: 90%;
  margin: 0 auto;
}
.btn {
  padding: 8px 20px;
  background-color: blue;
  color: white;
}
/* utility */
.flex-container {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
/* utility */
/* general */
/* header */
header {
  /* height: 80px; */
  padding: 20px 20px;
  border-bottom: 2px solid black;
}
nav {
  width: 50%;
}
.nav-right {
  justify-content: flex-end;
}
header > .nav-left > ul > li > a {
  margin-right: 30px;
}
header > .nav-right > ul > li > a {
  margin-left: 30px;
}
  nav > ul > li {
    list-style: none;
  }
  nav > ul > li > a {
    text-decoration: none;
    color: #000001;
    font-size: 16px;
  }
  nav > ul > li > a:hover {
    text-decoration: underline;
  }
  .img-logo {
    vertical-align: middle;
  }
/* /header */
/* jumbotron */
.jumbotron {
  height: 600px;
  background-color: blanchedalmond;
}
.jumbotron > h1 {
  font-size: 58px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 40px;
  line-height: 77px;
}
.jumbo-content {
  height: 500px;
  border: 1px solid black;
}
  .jumbo-content.left {
    width: 40%;
    /* background-color: azure; */
  }
  .jumbo-content.right {
    width: 60%;
    background-color: aqua;
  }
/* /jumbotron */